@property --Angle{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}
@property --Percentage {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
@property --Color_1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000;
}
@property --Color_2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000;
}
html {
  --Change: #0000, var(--Color_1) 2deg calc(var(--Angle) - 2deg), #0000 var(--Angle);
  background: 
    conic-gradient(from calc(-45deg - var(--Angle) / 2) at top var(--Percentage) left var(--Percentage), var(--Change)),
    conic-gradient(from calc(-45deg - var(--Angle) / 2) at top var(--Percentage) left var(--Percentage), var(--Change)),
    conic-gradient(from calc( 45deg - var(--Angle) / 2) at top var(--Percentage) right var(--Percentage), var(--Change)),
    conic-gradient(from calc( 45deg - var(--Angle) / 2) at top var(--Percentage) right var(--Percentage), var(--Change)),
    conic-gradient(from calc(-135deg - var(--Angle) / 2) at bottom var(--Percentage) left var(--Percentage), var(--Change)),
    conic-gradient(from calc(-135deg - var(--Angle) / 2) at bottom var(--Percentage) left var(--Percentage), var(--Change)),
    conic-gradient(from calc( 135deg - var(--Angle) / 2) at bottom var(--Percentage) right var(--Percentage), var(--Change)),
    conic-gradient(from calc( 135deg - var(--Angle) / 2) at bottom var(--Percentage) right var(--Percentage), var(--Change))
    var(--Color_2);
  background-size: calc(2 * 80px) calc(2 * 80px);
  animation: Body_Background_Animation 10s infinite alternate linear;
}
@keyframes Body_Background_Animation {
  0%, 15% {
    --Angle: 135deg;
    --Percentage: 20%;
    --Color_1: #008cf0;
    --Color_2: #ffb6c1;
    background-position: 0 0, 80px 80px;
  }
  45%, 50% {
    --Angle: 90deg;
    --Percentage: 25%;
    --Color_1: #008cf0;
    --Color_2: #ffb6c1;
    background-position: 0 0, 80px 80px;
  }
  50.01%, 55% {
    --Angle: 90deg;
    --Percentage: 25%;
    --Color_2: #008cf0;
    --Color_1: #ffb6c1;
    background-position: 80px 0, 0 80px;
  }
  85%, 100% {
    --Angle: 135deg;
    --Percentage: 20%;
    --Color_2: #008cf0;
    --Color_1: #ffb6c1;
    background-position: 80px 0, 0 80px;
  }
}
.lines {
  position: absolute;
  height: 100%;
  margin: auto;
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.line {
  position: relative;
  width: 1px;
  height: 100%;
  overflow: hidden;
}
.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: Main_Text_Background_Animation 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.5s;
}

.line:nth-child(2)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #32CD32 75%, #32CD32 100%);
  animation-delay: 1s;
}

.line:nth-child(3)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1E90FF 75%, #1E90FF 100%);
  animation-delay: 1.5s;
}

.line:nth-child(4)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFD700 75%, #FFD700 100%);
  animation-delay: 2s;
}

.line:nth-child(5)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #8A2BE2 75%, #8A2BE2 100%);
  animation-delay: 2.5s;
}

.line:nth-child(6)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #20B2AA 75%, #20B2AA 100%);
  animation-delay: 3s;
}

.line:nth-child(7)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #DC143C 75%, #DC143C 100%);
  animation-delay: 3.5s;
}

.line:nth-child(8)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00FA9A 75%, #00FA9A 100%);
  animation-delay: 4s;
}

.line:nth-child(9)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF1493 75%, #FF1493 100%);
  animation-delay: 4.5s;
}

.line:nth-child(10)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00BFFF 75%, #00BFFF 100%);
  animation-delay: 5s;
}
@keyframes Main_Text_Background_Animation {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
.Header
{
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 3px 20px black, 0 0 60px cyan inset;
    color: white;
    background-color: black;
    font-family: "Segoe Print";
}
.Navigation,
.Navigation_2
{
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 26px;
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 3px 20px black, 0 0 60px cyan inset;
}
.Navigation ul,
.Navigation_2 ul
{
    display: flex;
}
.Navigation li,
.Navigation_2 li
{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
.Navigation li
{
    width: 33%;
}
.Navigation_2 li
{
    width: 25%;
}
.Navigation a,
.Navigation_2 a
{
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid white;
    color: white;
    font-family: "Segoe Print";
}
.Navigation li:last-child a,
.Navigation_2 li:last-child a
{
    border-right: none; 
}
.Navigation a:hover,
.Navigation_2 a:hover
{
    animation-name: Select;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.Navigation_Sidebar li
{
    font-size: 16px;
}
.Navigation_Sidebar ul
{
    display: inline;
}
.Navigation_Sidebar a:hover
{
    animation-name: Select_2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes Select
{
    from
    {
        font-size: 26px;
    }
    to
    {
        font-size: 32px;
    }
}
@keyframes Select_2
{
    from
    {
        font-size: 16px;
    }
    to
    {
        font-size: 20px;
    }
}
.Main_Text
{
    font-family: "Segoe Print";
    float: right;
    width: 65%;
    padding: 0px 30px 15px 30px;
    border: 1px solid white;
    border-radius: 30px 15px 40px 5px;
    text-align: justify;
    line-height: 150%;
    font-size: 18px;
    overflow: scroll;
    height: 500px;
    box-shadow: 2px 3px 20px black, 0 0 60px cyan inset;
    color: white;
    background-color: black;
}
.Main_Text_Header
{
    text-align: center;
}
p
{
    --padding-top-bottom: 1.25em;
    margin-top: var(--padding-top-bottom);
    margin-bottom: var(--padding-top-bottom);
}
.Sidebar
{
    float: left;
    padding: 0px 15px 30px 15px;
    border: 1px solid white;
    border-radius: 15px 30px 5px 40px;
    text-align: justify;
    line-height: 150%;
    overflow-wrap: break-word;
    max-width: 15%;
    box-shadow: 2px 3px 20px black, 0 0 60px cyan inset;
    color: white;
    background-color: black;
    font-family: "Segoe Print";
    font-weight: bold;
}
.Sidebar a
{
    color: black;
    text-decoration: none;
    color: white;
    font-family: "Segoe Print";
}
.Sidebar a:hover
{
    animation-name: Select_Sidebar;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.Sidebar ul
{
    overflow: auto;
    max-height: 429.5px;
}
@keyframes Select_Sidebar
{
    from 
    {
        text-decoration: none;
    }
    to
    {
        text-decoration: underline;
    }
}
.Highlighted_Text
{
    font-weight: bold;
}
.Button_Left
{
    float: left;
    margin-left: 10px;
}
.Button_Center
{
   float: center;
}
.Button_Right
{
    float: right;
}
