@property --Color_Text {
  syntax: '<color>';
  inherits: true;
  initial-value: black;
}
@property --Color_Background {
  syntax: '<color>';
  inherits: true;
  initial-value: white;
}
@property --Color_Complementary {
  syntax: '<color>';
  inherits: true;
  initial-value: cyan;
}
:root
{
    --Color_Complementary_1: 127, 215, 245;
    --Color_Complementary_2: 192, 235, 250;
}
html
{
  height: 100%;
  background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(var(--Color_Complementary_1), 0.4) 0, rgba(var(--Color_Complementary_1), 0.1) 2em, transparent 0, transparent 1em, rgba(var(--Color_Complementary_1), 0.3) 0, rgba(var(--Color_Complementary_1), 0.2) 4em, transparent 0, transparent 1em, rgba(var(--Color_Complementary_2), 0.6) 0, rgba(var(--Color_Complementary_2), 0.2) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(var(--Color_Complementary_1), 0.4) 0, rgba(var(--Color_Complementary_1), 0.1) 2em, transparent 0, transparent 1em, rgba(var(--Color_Complementary_1), 0.3) 0, rgba(var(--Color_Complementary_1), 0.2) 4em, transparent 0, transparent 1em, rgba(var(--Color_Complementary_2), 0.4) 0, rgba(var(--Color_Complementary_2), 0.1) 2em), var(--Color_Background);
  background-blend-mode: multiply;
}
.Header
{
    height: 21vh;
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 3px 20px black, 0 0 60px var(--Color_Complementary) inset;
    color: var(--Color_Text);
    background-color: var(--Color_Background);
}
.Navigation,
.Navigation_2
{
    height: 10vh;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 26px;
    color: var(--Color_Text);
    border: 1px solid white;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 3px 20px black, 0 0 60px var(--Color_Complementary) inset;
    background-color: var(--Color_Background);
}
.Navigation ul,
.Navigation_2 ul
{
    display: flex;
}
.Navigation li,
.Navigation_2 li
{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
.Navigation li
{
    width: 33%;
}
.Navigation_2 li
{
    width: 25%;
}
.Navigation a,
.Navigation_2 a
{
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid var(--Color_Text);
    color: var(--Color_Text);
}
.Navigation li:last-child a,
.Navigation_2 li:last-child a
{
    border-right: none; 
}
.Navigation a:hover,
.Navigation_2 a:hover
{
    animation-name: Select;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.Navigation_Sidebar li
{
    font-size: 16px;
}
.Navigation_Sidebar ul
{
    display: inline;
}
.Navigation_Sidebar a:hover
{
    animation-name: Select_2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes Select
{
    from
    {
        font-size: 26px;
    }
    to
    {
        font-size: 32px;
    }
}
@keyframes Select_2
{
    from
    {
        font-size: 16px;
    }
    to
    {
        font-size: 20px;
    }
}
.Main_Text
{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 70vh;
    padding: 0px 30px 15px 30px;
    border: 1px solid white;
    border-radius: 30px 15px 40px 5px;
    text-align: justify;
    line-height: 150%;
    font-size: 18px;
    overflow: scroll;
    box-shadow: 2px 3px 20px black, 0 0 60px var(--Color_Complementary) inset;
    color: var(--Color_Text);
    background-color: var(--Color_Background);
}
.Main_Text_Header
{
    text-align: center;
}
p
{
    --padding-top-bottom: 1.25em;
    margin-top: var(--padding-top-bottom);
    margin-bottom: var(--padding-top-bottom);
}
.Sidebar
{
    margin-left: 0;
    max-height: 70vh;
    float: left;
    padding: 0px 15px 30px 15px;
    border: 1px solid white;
    border-radius: 15px 30px 5px 40px;
    text-align: justify;
    line-height: 150%;
    overflow-wrap: break-word;
    max-width: 15%;
    box-shadow: 2px 3px 20px black, 0 0 60px var(--Color_Complementary) inset;
    color: var(--Color_Text);
    background-color: var(--Color_Background);
    font-weight: bold;
}
.Sidebar a
{
    color: var(--Color_Text);
    text-decoration: none;
}
.Sidebar a:hover
{
    animation-name: Select_Sidebar;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.Sidebar ul
{
    max-height: 65vh;
    overflow: auto;
}
@keyframes Select_Sidebar
{
    from 
    {
        text-decoration: none;
    }
    to
    {
        text-decoration: underline;
    }
}
.Highlighted_Text
{
    font-weight: bold;
}
.Button_Left
{
    float: left;
    margin-left: 10px;
}
.Button_Center
{
   float: center;
}
.Button_Right
{
    float: right;
}